name: JSON POST Workflow

on:
  workflow_dispatch:
    inputs:
      json_payload:
        description: 'JSON payload'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v2
        
      - name: Print JSON payload
        run: |
          JSON= ${{ toJson(fromJson(github.event.inputs.json_payload))}}
          echo "$JSON"
          
#       - name: Print old JSON payload
#         run: |
#           echo "Received JSON Payload: ${{ github.event.inputs.json_payload }}"  
